@import "../helpers/vars";
@import "../components/header-white";

.hero {
  color: white;
  text-align: left;
  background-color: black;
  padding: 1px;
  background-color: black;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  h1 {
    margin-bottom: $space-0;
  }
  p {
    max-width: 900px;
    margin: 0 auto;
  }
}

@media all and (min-width: $small-screen) {
  .hero {
    text-align: center;
    h1 {
      margin-bottom: $space-1;
    }
    p {
      margin-bottom: $space-3;
    }
  }
}

.services {
  margin-top: $space-3;
  h2 {
    margin-bottom: $space-0;
  }
  .category:not(:last-child) {
    margin-bottom: $space-1;
  }
}
