@import "../helpers/vars";

.open-positions {
  .position {
    margin-bottom: $space-1;
  }
}
.images {
  margin: $space-2 0;
  width: 100%;
  img {
    width: 100%;
  }
}

.internships {
  .email {
    margin-top: 5rem;
    img {
      float: left;
      height: 2.3rem;
      margin-right: 1rem;
    }
    .text {
      float: left;
    }
  }
}

@media all and (min-width: $screen-0 ) {
  .open-positions {
    .position {
      float: left;
      width: 46%;
    }
    .position:nth-child(even) {
      margin-right: 8%;
    }
  }
  .internships {
    clear: both;
  }
}

@media all and (min-width: $screen-3) {
  .open-positions {
    float: left;
    width: 50%;
    .position {
      float: left;
      width: 46%;
    }
    .position:nth-child(even) {
      margin-right: 8%;
    }
  }
  .internships {
    clear: none;
    float: right;
    width: 25%;
  }
}
