@import "../helpers/vars";
@import "../components/header-white";

img {
  width: 100%;
}

.hero-container {
  position: relative;
  height: 80vh;
  background-color: #0701EE;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  animation-name: reveal;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  transition: 1s cubic-bezier(0,.86,.2,.99);
  span {
    display: block;
    height: 1px;
  }
}

@keyframes reveal {
    from {
      background-position: 50% 15%;
    }
    to {
      background-position: 50% 0%;
    }
}


.intro {
  display: flex;
  min-height: 20vh;
  padding: 3rem 0;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  main {
    margin-top: 0;
  }
  margin-bottom: $space-2;
}

.fancy-grid {
  figure:nth-child(2) {
    margin-top: 20%;
  }
  figure:nth-child(even) {
    float: left;
    width: 48%;
    clear: left;
  }
  figure:nth-child(odd) {
    float: right;
    width: 48%;
    clear: right;
  }

  figure {
    margin: $space-0 0;
    figcaption {
      text-align: center;
      margin: $space-1 $space-0;
      .tags {
        display: none;
      }
    }
    transition: 1s cubic-bezier(0,.86,.2,.99);
    &:hover {
      transform: translateY(-10px) !important;
    }
  }
}

@media all and (min-width: $screen-1 ) {
  .fancy-grid {
    max-width: $wraper-max-width;
    margin: 0 auto;
    figure {
      margin: $space-1 0;
      figcaption {
        .tags {
          display: block;
          margin-top: $space-0;
          color: $color-medium-grey;
        }
      }
    }

  }
}
