@charset "UTF-8";
@import "./helpers/vars";
@import "./helpers/clearfix";
@import "./common/fonts";
@import "./common/reset";
@import "./common/typography";
@import "./components/header";

html {
  background: $color-background;
  // Always show the vertical scrollbar to prevent `jumps`of page content after navigating from a very short pagethat does not scroll to a long pager
  overflow-y: scroll;
  // Setting this to `default` prevents the cursors fromchanging when hovering blocks of text or whitespace,which is less distracting
  cursor: default;
  
}

main {
  max-width: $wraper-max-width;
  margin: 1.5rem;
}

@media all and (min-width: $wraper-max-width) {
  main {
    margin: 1.5rem auto;
  }
}
