@charset "UTF-8";
@import "./helpers/vars";
@import "./helpers/clearfix";
@import "./helpers/animations";
@import "./common/fonts";
@import "./common/reset";
@import "./common/typography";
@import "./components/header";

html {
  background: $color-background;
  // Always show the vertical scrollbar to prevent `jumps`of page content after navigating from a very short pagethat does not scroll to a long pager
  overflow-y: scroll;
  // Setting this to `default` prevents the cursors fromchanging when hovering blocks of text or whitespace,which is less distracting
  cursor: default;

}

main {
  max-width: $wraper-max-width;
  margin: 1.5rem;
  margin-bottom: 0;
}

@media all and (min-width: $wraper-max-width + 30px) {
  main {
    margin: 1.5rem auto;
    margin-bottom: 0;
  }
}

@media all and (min-width: $screen-1 ) {
  .transition-cover {
    position: absolute;
    z-index: $depth-3;
    top: 0;
    left: 0;
    background-color: $color-light-grey;
    height: 100vh;
    width: 100vw;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0,.86,.2,.99);
    &.up {
      animation-name: moveUp;
    }
    &.down {
      display: none;
      animation-name: moveDown;
    }
  }
}
