/* DIN */
@font-face {
    font-family: 'DIN';
    src: url(../fonts/din-700.woff2) format('woff2'),
         url(../fonts/din-700.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DIN';
    src: url(../fonts/din-500.woff2) format('woff2'),
         url(../fonts/din-500.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DIN';
    src: url(../fonts/din-300.woff2) format('woff2'),
         url(../fonts/din-300.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}
