html {
  color: $color-black;
  font: normal $base-font-weight $base-font-small $main-font;
  // Prevent adjustments of font size after orientation changes in IE and iOS.
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@media all and (min-width: $screen-1) {
  html {
    font-size: $base-font-big;
  }
}


h1, h2, h3, h4, h5, h6,
p, ul, ol, figure, pre {
  font-size: inherit;
  line-height: inherit;
  margin: 0 0 1.5rem;
  margin: 0;
}

p {
  line-height: 1.222rem;
}

/* Headings */
h1, h2, h3 {
  font-weight: 700;
}

h1 {
  font-weight: 700;
  font-size: 2.7rem;
  text-transform: uppercase;
  margin-bottom: $space-2;
}

@media all and (min-width: $screen-0 ) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 1.75rem;
  margin-bottom: $space-1;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-weight: 300;
  color: $color-orange;
  margin-bottom: $space-0;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
}
