/* Hamburger Icon */
#hamburger-icon {
  & {
    width: 28px;
    margin-top: 8px;
    height: $header-height;
    position: relative;
    display: block;
  }
  & .line {
    display: block;
    background: $color-black;
    height: 3px;
    position: absolute;
    right: 0;
    border-radius: 3px;
    transition: all 0.4s;
  }
  & .line.line-1 {
    top: 0;
    width: 100%;
  }
  & .line.line-2 {
    top: 8px;
    width: 80%;
  }
  & .line.line-3 {
    top: 16px;
    width: 60%;
  }

  @media all and (min-width: $screen-0 ) {
    & {
      width: 32px;
      margin-top: 4px;
    }
    & .line.line-2 {
      top: 10px;
      width: 80%;
    }
    & .line.line-3 {
      top: 20px;
      width: 60%;
    }
    $burger-hover-dist: 2px;
    &:hover .line-1 {
      transform: translateY(-$burger-hover-dist);
    }
    &:hover .line-3 {
      transform: translateY($burger-hover-dist);
    }
  }



  &.nav-active .line-1 {
    // transform: translateY(1.5px) translateX(0) rotate(45deg);
    transform-origin: left;
    transform: translateY(-35%) rotate(45deg);
    background: $color-black;
  }
  &.nav-active .line-2 {
    opacity: 0;
    background: $color-black;
  }
  &.nav-active .line-3 {
    width: 100%;
    // transform: translateY(-1.5px) translateX(0) rotate(-45deg);
    transform-origin: left;
    transform: translateY(100%) rotate(-45deg);
    background: $color-black;
  }
}
