// Globals
$depth-0: 0;
$depth-1: 1;
$depth-2: 2;
$depth-3: 3;
$wraper-max-width: 1290px;

// Devices
$small-screen: 500px;

// Type
$main-font: "DIN", Helvetica, Arial, sans-serif;
$base-font-size: 18px;
$base-font-weight: 300;

// Colors
$color-black: #000;
$color-background: #FFF;
$color-dark-grey: #242424;
$color-light-grey: #E6E6E6;
$color-orange: #FFA600;
$color-blue: #1030F9;
$color-papayawhip: #FFEFD4;

// Spacing
$space-0: 1rem;
$space-1: 2.2px;
$space-2: 4.4rem;
$space-3: 11.1rem;
